<!-- Inheriting base html from boostraps base file, which includes all neessary html tags -->
{% extends 'bootstrap/base.html' %}


<!-- use blocks to customize base and other html files -->

{% block title %}
  Photogram
{% endblock %}

{% block styles %}
  <!-- add icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--inherite the css of bootstrap-->
  {{ super() }}
  <!-- add own css -->
  <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}


{% block scripts %}
  {{ super() }}
  <!-- jQuery JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- uploadcare JS -->
  <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js" charset="utf-8"></script>
  <script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.min.js" charset="utf-8"></script>
  <!-- own Javascript -->
  <script src="../static/js/app.js"></script>
{% endblock %}

{% block navbar %}
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="{{ url_for('index') }}"><span class="home_icon"><i class="material-icons">home</i></span>&nbsp&nbsp Photogram</a>

      {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('posts', username=current_user.username) }}"><span class="home_icon"><i class="material-icons">person</i></span>&nbsp&nbsp You</a>
      {% else %}
        <a class="navbar-brand" href="{{ url_for('login') }}"><span class="home_icon"><i class="material-icons">person</i></span>&nbsp&nbsp User</a>
      {% endif %}

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="navbar-brand nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="home_icon"><i class="material-icons">star</i></span>&nbsp&nbsp Welcome</a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if current_user.is_authenticated %}
              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
              <a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </nav>
  </div> <!--ends col-md-12 for nav-->
</div> <!--ends row for nav-->
{% endblock %}

{% block content %}
  <!-- block app content allows us to keep base content that is similar to all files, i.e. a footer -->

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block app_content %}{% endblock %}


  <footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://github.com/Yurijas"> Yurijas</a>
    </div>
  </footer>

{% endblock %}
