{% extends 'base.html' %}


{% block title %}
  {{ super() }} - Home

{% endblock %}


{% block app_content %}
  <div class="container">
    <!-- loop.index if how to create a row for every 3 items -->
    {% for allpost in people %} 
      {% if loop.index == 1 or loop.index % 3 == 1 %}
        <div class="row top-margin-lg">
      {% endif %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top">
              <img src="http://placehold.it/250x250" alt="Posted Image" class="posted-pic">
            </div>
            <div class="card-img-top">
              <p class="card-title">@{{ people.username }}</p>
              <p class="card-text">{{ people.desc }}</p>
              <p class="card-subtitle">{{ people.date_posted }}</p>
            </div>
          </div> <!--ends card-->
        </div> <!--ends col-md-4 for card-->
      {% if loop.index % 3 == 0 or loop.length == loop.index %}
        </div> <!--ends row for card-->
      {% endif %}
    {% endfor %}
    <!-- end products being shown -->

  </div> <!--ends container-->
{% endblock %}
