{% extends 'base.html' %}


{% block title %}
  {{ super() }} - Home

{% endblock %}


{% block app_content %}
  <div class="container mt-4">
    <div class="float-right mb-6 mt-1">
      <input type="hidden" role="uploadcare-uploader" id="uploadedImage" data-preview-step="true" data-effects="crop,rotate,enhance,sharp,grayscale" />
    </div>
    <h2 class="mb-6">Photo Feed</h2>
    <div class="row" id="imagesContainer">
    </div> <!--ends row for card-->
  </div>

  <div class="container">
    <!-- loop.index if how to create a row for every 3 items -->
    {% for post in posts %}
      {% if loop.index == 1 or loop.index % 3 == 1 %}
        <div class="row top-margin-lg">
      {% endif %}
        <div class="col-md-4">
          <div class="card">
              <img src="http://placehold.it/250x250" alt="Posted Image" class="posted-pic">
            </div>
            <div class="card-img-top">
              <p class="card-title">@{{ post.author.username }}</p>
              <p class="card-text">{{ post.body }}</p>
              <p class="card-subtitle">{{ post.date_posted }}</p>
            </div>
          </div> <!--ends card-->
        </div> <!--ends col-md-4 for card-->
      {% if loop.index % 3 == 0 or loop.length == loop.index %}

        </div> <!--ends row for card-->
      {% endif %}
    {% endfor %}
    <!-- end products being shown -->

  </div> <!--ends container-->
{% endblock %}
