{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ super() }} - Login
{% endblock %}


{% block app_content %}
  <div class="container top-margin-lg">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>{{ title }}</h1>
        {{ wtf.quick_form(form) }}
        <p class="txt-under-form"><a href="#">*Forgot your password?</a>.</p>
      </div>
    </div> <!-- ends row -->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="txt-under-form">* You can make your account from <a href="{{ url_for('register') }}">here</a>.</p>
      </div>
    </div> <!-- ends row -->
  </div> <!-- ends container -->
{% endblock %}
